.p-contents-summary {
  position: absolute;
  bottom: 4%; left: 2%;
  z-index: 100;
  &__head {
    float: left;
    margin: 0;
    @include flexFontSize(4);
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #000;
  }
  &__text {
    clear: left;
    float: left;
    line-height: 1.75;
    margin: 1em 0;
    @include flexFontSize(1);
    letter-spacing: 1px;
    background-color: #000;
  }
  &__link-source {
    clear: left;
    margin: 0;
    @include flexFontSize(1.1);
    letter-spacing: 1px;
    a {
      position: relative;
      background-color: #000;
    }
  }
  //
  // Init Interaction
  //
  &__link-source {
    a {
      transition-duration: 0.3s;
      transition-timing-function: $easeOutQuad;
      &:after {
        transform: scale(0, 1);
        transform-origin: left;
        transition-duration: 0.3s;
        transition-timing-function: $easeOutQuad;
      }
    }
  }
  //
  // Running Interaction
  //
  &__link-source {
    a {
      &:hover {
        &:after {
          transform: scale(1, 1);
        }
      }
    }
  }
}
