@keyframes rotatePreloader {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.p-preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  &__icon {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: 0 auto 10px;
    border-top: 2px solid;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-radius: 25px;
    animation-name: rotatePreloader;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  &__label {
    color: #000;
    @include flexFontSize(0.8);
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 2px;
  }
  &.is-hidden {
    opacity: 0;
    transform: scale(0.95);
    transition-duration: 0.5s;
  }
  &.is-stoped & {
    &__icon {
      animation-name: none;
    }
  }
}
